{
  "extends": "rackt",
  "globals": {
    "__DEV__": true
  },
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    // Strict mode
    "strict": [2, "never"],

    // Code style
    "indent": [2, 2],
    "quotes": [2, "single"],
    "comma-dangle": [2, "never"],
    "semi": 0,

    // react
    "react/jsx-uses-react": 1,
    "react/jsx-no-undef": 2,
    "react/wrap-multilines": 2
  }
}
